{% extends 'base.html' %}

{% block title %}MedVoyage | Book Appointment{% endblock %}

{% block content %}
    <div>
        <form id="book-form" method="post">
            {% csrf_token %}
            <h2>Book Appointment</h2>
            <div class="form-group">
                <label for="id_date" class="m-1">Appointment Date</label>
                <input type="text" class="form-control form-control-lg mb-2" id="id_date" name="date" placeholder="(MM/DD/YYYY)">
            </div>

            <div class="form-group">
                <label for="id_time" class="m-1">Appointment Time (24 HR)</label>
                <input type="text" class="form-control form-control-lg mb-2" id="id_time" name="time" placeholder="ex: 14:30">
            </div>

            <!-- temporary implementation until tables and calendar widget are done. id will be pulled from logged in user info -->
            <div class="form-group">
                <label for="id_details" class="m-1">Appointment Details</label>
                <input type="text" class="form-control form-control-lg mb-2" id="id_details" name="details" placeholder="Enter apppointment details here">
            </div>

            <button type="submit" class="btn btn-mv-green btn-block text-center mt-2 text-white">Book Appointment</button>
        </form>

    </div>
{% endblock %}