{% extends 'base.html' %}

{% block title %}MedVoyage | Cancel Appointment{% endblock %}

{% block content %}
    <div>
        {% if error_message %}
            <p class="text-danger">{{ error_message }}</p>
        {% endif %}
        {% if success_message %}
            <p class="text-success">{{ success_message }}</p>
        {% endif %}
        <form action="{% url 'cancel_appointment' %}" method="post">
            {% csrf_token %}
            <h2>Cancel an Appointment</h2>
            <div class="form-group">
                <label for="id_appointment" class="m-1">Select the appointment you want to cancel</label>
                <input type="text" class="form-control form-control-lg mb-2" id="id_appointment" name="appointment_id" placeholder="Enter appointment id here">
            </div>
            <button type="submit" class="btn btn-mv-green btn-block text-center mt-2 text-white">Cancel Appointment</button>
        </form>

        <h2>All Appointments:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    {% if appointment.patient.user == request.user %}
                    <tr>
                        <td>{{ appointment.appointment_id }}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>{{ appointment.start_time }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
