{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<section class="py-3" style="background-color: #fff; min-height: 84vh;">
    <div class="container">
        <h2 class="text-center mb-4">Contact Us</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="{% url 'contact_us' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Your message here..." required></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3 btn-mv-green">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <i class="fa fa-phone fa-2x mb-3"></i>
                <h4>Phone</h4>
                <p>(+1) 214-89-22196</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-envelope fa-2x mb-3"></i>
                <h4>Email</h4>
                <p>medvoyage.service@gmail.com</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-map-marker fa-2x mb-3"></i>
                <h4>Location</h4>
                <p> Discovery Park, N Elm Street, Denton, TX, US.</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}
