{% extends 'base.html' %}

{% block title %}MedVoyage | Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Login</h2>
                        <form id="login-form" method="post">
                            <div class="form-group">
                                <label for="{{form.username.id_for_label}}">Username</label>
                                <input type="text" class="form-control form-control-lg" id="{{form.username.id_for_label}}" name="{{form.username.name}}" placeholder="JohnDoe">
                            </div>

                            <div>
                                <label for="{{form.password.id_for_label}}">Password</label>
                                <input type="password" class="form-control form-control-lg" id="{{form.password.id_for_label}}" name="{{form.password.name}}" placeholder="Enter your password">
                            </div>

                            <button type="button" class="btn btn-primary btn-block text-center" onclick="submitForm()">Login</button>
                            
                            <div class="text-center">
                                <a href="/signup">Don't have an account? Sign Up Here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}