<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand Logo and Name -->
    <a class="navbar-brand" href="{% url 'home' %}">
        {% load static %}
        <img src={% static "images/MedVoyageLogo.png" %} width="30" height="30" class="d-inline-block align-top" alt="Logo">
        MedVoyage
    </a>

    <!-- Toggler for Mobile Devices -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse me-lg-3" id="navbarNav">
        <ul class="navbar-nav ms-lg-auto">
            <!-- About and Contact Links -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            <!-- Login/Signup,Profile Button -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'clientprofile' %}" class="nav-link fw-bold text-mv-green">Profile</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'user_login' %}" class="nav-link fw-bold text-mv-green">Login/Signup</a>
                </li>
            {% endif %}
            <!-- Sign Out Button -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="/signout" class="nav-link" > Sign Out</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
