{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <form method="post" action="{% url 'update_doctor_info' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-8">
                    <h1>Dr.Manushree</h1>
                    <h3>Cardiologist</h3>
                   
                    <div class="form-group" style="position:relative">

                        <label for="fname"><strong>First Name:</strong></label>
                        <input type="text" class="form-control" id="fname" value="Manushree" >

                        <label for="lname"><strong>Last Name:</strong></label>
                        <input type="text" class="form-control" id="lname" value="Buyya" >

                        <label for="email"><strong>Email:</strong></label>
                        <input type="text" class="form-control" id="email" value="manugoud2001@gmail.com" >
                
                        <label for="phone"><strong>Phone:</strong></label>
                        <input type="text" class="form-control" id="phone" value="(123) 456-7890" >

                        <label for="spec"><strong>Specialization:</strong></label>
                        <input type="text" class="form-control" id="specialization" value="Cardiologist" >

                        <label for="exp"><strong>Experience:</strong></label>
                        <input type="text" class="form-control" id="Experience" value="15" >

                        
                        <button type="submit" class="btn btn-primary col-mt-3 mx-auto">Update</button>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}