{% extends 'base.html' %}

{% block title %}2FA Verification{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Verification</h2>
                        <form id="login-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_verification_code">Verification Code</label>
                                <input type="text" class="form-control form-control-lg mb-2" id="id_verification_code" name="verification" placeholder="123456">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block text-center mt-2">Submit</button>
                        </form>
                        {% if error %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
