{% extends 'base.html' %}

{% block title %}MedVoyage | View Schedule{% endblock %}

{% block content %}
    <div>
        <h3>Select the date you'd like to see appointments for:</h3>
        <form action="{% url 'view_schedule' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% for appointment in appointments %}
            <div class="card-body text-center">
                <h5 class="card-title">{{ appointment.date }}</h5>
                <p class="card-text">{{ appointment.time }}</p>
                <p class="card-text">{{ appointment.details }}</p>
              </div>
            {% endfor %}
            <input type="submit" value="View" />
        </form>
    </div>
{% endblock %}